
*{ margin: 4px; padding: 0px;}
/*********HEADER***********************/
 header{
    border: 2px solid tomato;
    text-align: center;
    }
        .fotocv{
            border-radius: 50%;
            border: 2px solid tomato;
        }
        h1 {
            text-transform: capitalize;
            font-size: 50px;
        }
        h2 {
            text-transform: capitalize;
        }
/*************NAV**********************/
nav{
        background-color:tomato;
    }

    .button{
        display: flex;
        justify-content: space-around;
    }
 
    button{
        width: 90px;
        height: 25px;
    }

/****************Main*********************/
main{
}
  

.diviconyp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid tomato;

}

section{
        border: 2px solid tomato;

}
section .habilidades li{
    margin-left: 6%;
    
}

/*********FOOTER********************************/
footer{
    display: flex;
    justify-content: space-around;
}




































